body {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: middle;
}

.formLogin.siginLink {
  display: block;
}

.homeLink.loginLink, .homeLink.siginLink {
  display: inline-block;
}

.homeDiv {
  margin: 12px;
  background-color: #ffb544;
}

.homeTitle {
  width: 224px;
  font-size: 4em;
  /* border: 3px solid black; */
  margin: 0 auto;
  padding-top: 20%;
  padding-bottom: 6%;
}

.homeLinks {
  display: flex;
  justify-content: space-between;
}

.homeLink.loginLink {
  width: 160px;
  background-color: #fff;
  color: #000;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 0;
  border-left: 0;
  padding-left: 12px;
  font-size: 3.2em;
  text-align: middle;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 4px;
}

.homeLink.siginLink {
  width: 155px;
  background-color: #fff;
  color: #000;
  border-top: 2px solid black;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid black;
  font-size: 3.2em;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.formLogin.siginLink {
  margin-left: 1px;
}

.formLogin.forgotPasswordLink, .formSigin.loginLink {
  display: inline-block;
  margin-left: 1px;
}


.form.formSigin, .form.formLogin {
  width: 280px;
  background-color: #ffb544;
  border: 2px solid black;
  padding: 4px;
  margin: 0 auto;
}

.siginLabel, .loginLabel {
  display: block;
  margin-bottom: 4px;
}

.siginTitle {
  width: 285px;
  margin: 0 auto;
}

.loginTitle {
  width: 232px;
  margin: 0 auto;
}

.siginPassword, .siginEmail, .loginEmail, .loginPassword {
  width: 275px;
}

.siginSubmit {
  margin-left: 25px;
  background-color: #fff;
}

.loginSubmit {
  margin-left: 83px;
  background-color: #fff;
}


.profileDiv {
  background-color: #f2f2f2;
}

.profileTitle {

}

.profileLinks {
  background-color: #d65a4a;
  color: #fff;
}

.profileLink.homeLink, .profileLink.logoutLink {
  display: inline-block;
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
}

.profilePosts {
  width: 40%;
  margin: 0 auto;
  padding: 8px 2px 8px 2px;
  background-color: #fff;
}

.profilePost {
  border-bottom: 2px solid #e86;
}


.profileInfo {
  background-color: #fff;
  margin-left: 14px;
  text-align: center;
  width: 150px;
  padding: 6px;
}


.profileDiv.flex {
  display: flex;
  margin-top: 28px;
}

.profileTitle, 
.profileImage, 
.profileFollowers,
.profileFollowers.text,
.profileFollowers.number,
.profileFollowing,
.profileFollowing.text,
.profileFollowing.number {
  margin: 2px auto 2px 0;
}

.profileTitle {
  font-weight: bold;
}

.profileImage {
  border-radius: 50%;
}

.profileFollowers {
  border-top: 1px solid black
}

.profileFollowers.text {
  display: block;
  font-size: 1.2em;
}

.profileFollowers.number {
  font-weight: bold;
  font-size: 1.3em;
}

.profileFollowing {
  border-top: 1px solid black;
}

.profileFollowing.text {
  display: block;
  font-size: 1.2em;
}

.profileFollowing.number {
  font-weight: bold;
  font-size: 1.3em;
}


.createPost {
  background-color: #fff;
  border-top: 1px solid #d65a4a;
  padding: 6px;
  margin-left: 14px;
  display: block;
}

.smallProfileImage {
  width: 35px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
}

.createPost.input {
  margin-left: 10px;
  display: inline;
  width: 70px;
}

.createPost.button {
  background-color: #d65a4a;
  color: #fff;
  display: inline;
  width: 100px;
}



