/* global css */
:root {
  /*
  --color1: #3474a2;
  --color2: #ffe0d0; */
  --color1: #34568b;
  --color2: #e5e5e5;
  --color3: #cb8b5d;
  --no-border: 0 solid #fff;
  --login-width: 150px;
  --signin-width: 150px;
  --home-width: 450px;
  --profile-width: 150px;
  --forgot-password-width: 150px;
  --center: 0 auto;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: middle;
  text-size-adjust: none; /* Fix Android Big Text */
  text-rendering: optimizeLegibility; /* Improve text */
}






/* components/home/Home.js */

.homeDiv {
  margin: 12px;
}

.homeTitle {
  width: 224px;
  font-size: 4em;
  /* border: 3px solid black; */
  margin: var(--center);
  padding-top: 20%;
  padding-bottom: 6%;
  color: var(--color1);
}

.homeLinks {
  display: flex;
  justify-content: space-between;
  color: var(--color1);
}

.homeLink.loginLink {
  width: 160px;
  color: var(--color1);
  background-color: #fff;
  border-top: 2px solid var(--color2);
  border-right: 1px solid var(--color2);
  border-bottom: 0;
  border-left: 0;
  padding-left: 8px;
  font-size: 3em;
  text-align: middle;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 4px;
}

.homeLink.signinLink {
  width: 195px;
  color: var(--color1);
  background-color: #fff;
  border-top: 2px solid var(--color2);
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid var(--color2);
  font-size: 3em;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 8px;

}





/* components/forgotPassword/ForgotPassword.js */

.forgotPasswordTitle {
  color: var(--color1);
  margin: var(--center);
  width: calc( var(--forgot-password-width) - 10px - 10px);
  margin-bottom: 10px;
}

.form.formforgotPassword {
  border: 1px solid var(--color2);
  width: var(--forgot-password-width);
  margin: var(--center);
}

.forgotPasswordLabel {

}

.forgotPasswordEmail {
  display: block;
  border: var(--no-border);
  border-bottom: 1px solid var(--color2);
  color: var(--color1);
  width: calc( var(--forgot-password-width) - 20px );
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.forgotPasswordSubmit {
  display: block;
  background-color: #fff;
  border: var(--no-border);
  border-top: 1px solid var(--color2);
  color: var(--color1);
  margin: var(--center);
  width: var(--signin-width);
  outline: none;
}





/* components/login/Login.js */

.loginTitle {
  color: var(--color1);
  margin: var(--center);
  width: calc( var(--login-width) - 50px - 10px );
  margin-bottom: 10px;
}

.form.formLogin {
  border: 1px solid var(--color2);
  width: var(--login-width);
  margin: var(--center);
}

.loginLabel {

}

.loginEmail {
  display: block;
  border: var(--no-border);
  border-bottom: 1px solid var(--color2);
  color: var(--color1);
  width: calc( var(--login-width) - 20px );
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.loginPassword {
  display: block;
  border: var(--no-border);
  border-bottom: 1px solid var(--color2);
  color: var(--color1);
  width: calc( var(--login-width) - 20px );
  padding-left: 10px;
  padding-right: 10px;
  margin: var(--center);
  outline: none;
}

.loginLinks {
  margin: var(--center);
  margin-top: 10px;
  width: 180px;
}

.formLogin.signinLink {
  display: inline-block;
  color: var(--color1);
  font-weight: bold;
  text-decoration: none;
}

.formLogin.forgotPasswordLink {
  display: inline-block;
  color: var(--color1);
  font-weight: bold;
  text-decoration: none;
}

.loginSubmit {
  display: block;
  background-color: #fff;
  border: var(--no-border);
  color: var(--color1);
  margin: var(--center);
  width: var(--login-width);
  outline: none;
}




/* components/logout/Logout.js */
/*
.logoutDiv {

}

.logoutTitle {

}

.logoutLinks {

}

.logoutLink.homeLink {

}
*/




/* components/profile/CreatePost.js */

.createPost {
  width: 100%;
  text-align: center;
  margin: var(--center);
  border: 1px solid var(--color2);
}

.smallProfileImage {
  width: 1em;
  height: 1em;
}

.createPost.textarea {
  display: inline;
  border: var(--no-border);
  color: #000;
  width: calc( var(--login-width) - 10px );
  height: 1em;
  padding-left: 10px;
  outline: none;
  text-align: left;
}

.createPost.button {
  display: inline;
  background-color: #fff;
  border: var(--no-border);
  color: var(--color1);
  margin: var(--center);
  width: var(--login-width);
  outline: none;
}





/* components/profile/Profile.js */

.profileDiv {

}

.profileLinks {
  display: block;
  /*border-bottom: 1px solid var(--color2);*/
  background-color: var(--color2);
  color: var(--color1);
  width: 100%;
}

.profileLink.homeLink {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: var(--color1);
  padding-top: 2px;
  padding-bottom: 2px;
}

.profileLink.logoutLink {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: var(--color1);
  padding-top: 2px;
  padding-bottom: 2px;
}

.profileDiv.flex {

}






/* components/profile/ProfileInfo.js */ 

.profileInfo {
  width: 100%;
  text-align: center;
  margin: var(--center);
}

.profileTitle {
  width: 100%;
  text-align: center;
  color: var(--color1);
}

.profileImage {
  border-radius: 50%;
}

.profileFollowers {
  margin-top: 8px;
  margin-bottom: 8px;
}

.profileFollowers.text {
  font-weight: bold;
  color: var(--color1);
}

.profileFollowers.number {
  margin-left: 3px;
  font-weight: bold;
  color: var(--color1);
  margin-top: 2px;
  margin-bottom: 2px;
}

.profileFollowing {
  margin-bottom: 16px;
}

.profileFollowing.text {
  font-weight: bold;
  color: var(--color1);
}

.profileFollowing.number {
  margin-left: 3px;
  font-weight: bold;
  color: var(--color1);
}




/* components/profile/Promotion.js */
/*
.profilePromotion {

}

.profilePromotion.title {

}

.profilePromotion.slogan {

}

.profilePromotion.url {

}
*/




/* components/signin/Signin.js */

.signinTitle {
  color: var(--color1);
  margin: var(--center);
  width: calc( var(--signin-width) - 25px - 10px );
  margin-bottom: 10px;
}

.form.formSignin {
  border: 1px solid var(--color2);
  width: var(--signin-width);
  margin: var(--center);
}

.signinCheckbox {
  display: none;
}

.signinLabel {
  width: 200px;
  margin: var(--center);
  font-size: 0.8em;
  color: var(--color1);
}

.signinLabel span {
  height: 16px;
  width: 16px;
  display: inline;
  position: relative;
  background-color: var(--color2);
  color: var(--color1);
  border: var(--no-border);
}

.siginLabel center {
  margin: var(--center);
  width: 120px;
  display: inline;
}

.signinLabel > [type=checkbox]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: -2px;
  left: 1px;
}

.signinEmail {
  display: block;
  border: var(--no-border);
  border-bottom: 1px solid var(--color2);
  color: var(--color1);
  width: calc( var(--signin-width) - 20px );
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.signinPassword {
  display: block;
  border: var(--no-border);
  border-bottom: 1px solid var(--color2);
  color: var(--color1);
  width: calc( var(--signin-width) - 20px );
  padding-left: 10px;
  padding-right: 10px;
  margin: var(--center);
  outline: none;
}

.formSignin.loginLink {
  margin: var(--center);
  margin-top: 10px;
  width: 210px;
  display: block;
  color: var(--color1);
  font-weight: bold;
  text-decoration: none;
}

.signinSubmit {
  display: block;
  background-color: #fff;
  border: var(--no-border);
  border-top: 1px solid var(--color2);
  color: var(--color1);
  margin: var(--center);
  width: var(--signin-width);
  outline: none;
}






/* components/profile/Posts.js */
.profilePosts {
  margin-left: 8px;
  margin-right: 2px;
  width: calc(96% - 10px);
  margin-bottom: 16px;
}

.profilePost {
  margin-top: 14px;
  background-color: var(--color2);
  padding: 4px;
}

.profilePost.replies {
  margin-left: 8px;
}

.profilePost.replyForm {
  margin-left: 8px;
}

.profilePost.reply {

}

.profilePost.replyTextarea {
  display: block;
  background-color: #fff;
  color: var(--color1);
  margin: var(--center);
  width: calc(var(--signin-width) * 3);
  outline: none;
}

.profilePost.replySubmit {
  display: block;
  background-color: #fff;
  border: var(--no-border);
  border-top: 1px solid var(--color2);
  color: var(--color1);
  margin: var(--center);
  width: var(--signin-width);
  outline: none;
}

.profilePost.delete {
  display: block;
  background-color: #fff;
  border: var(--no-border);
  border-top: 1px solid var(--color2);
  color: var(--color1);
  margin: var(--center);
  width: var(--signin-width);
  outline: none;
}

.profilePost.name {
  border-bottom: 3px solid #fff;
}



.profileLink.userLink {
  color: var(--color1);
  text-decoration: none;
  font-weight: bold;
}

